:root {

    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --font-principal: 'Inter';

}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 5px;
    padding: 0;
}

.principal {
    background-image: url(../img/Background.png) ;
    background-repeat: no-repeat;
    background-size: contain;
    height:100vh;
   

}

.container {
    height:100vh;
    display:grid;
    grid-template-columns: 50% 50%;
}

.titulo {
    padding: 20px;
    margin: 0,5em;
text-align:justify;
font-size: 28px;
    font-weight: 700;
}

.img { 
    height: 10rem;
    
    
}


.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;padding: 1em;
    color: var(--branco-principal);
    display:block;
   margin:10em;
   position:absolute;
   top: 20%;
   text-decoration: none;

 
   
     }
 
     .segundo_botao {
 background-color:transparent; 
 border: 1px solid var(--branco-principal);
 border-radius: 5px; padding: 1em;
 color: var(--branco-principal);
 text-decoration:solid;
 padding: 1rem;
display:block;
position: absolute;
top: 32%;
margin: 10em;
align-items:center



 }



.aviso {
    font: size 12px;
    color: var(--cinza-secundario);
    position: absolute;
    top: 26rem;
    margin-top: 8em;

    
}

.img2 {

    align-items: center;
    margin: 0 10em;

}

.segundo_titulo {
    font-size: 50px;
    padding: 15px;
   
}
.segunda-caixa {
margin-left: 55%;
position: absolute;
text-align:center;
top: +120%;
}
 .Descrição_titulo2 {

margin-bottom: 0,5em;
padding: 0,5em;
font-style:normal;
font-size:24px;
color: var(--cinza-secundario);

 }

.segundo_container {

   
    display: inline-block;
    padding:2rem;
 

}

.container_descricao {
margin: 5%;

}

.descrição_texto {

    color:var(--cinza-secundario);
padding: 5%; 
font-weight:bold;
font-size: 18px;
position: relative;
margin-right: 40%;
text-align:justify;

}


.img4 {

    position:absolute;
    margin-left: 48%;
    top: 200%;
    padding-left: 10%;
}

.terceiro_botão {
color: var(--branco-principal);
margin: 5%;
padding: 1%;
background-color: var(--botao-azul);
border-radius:5%;
font-size: medium;
text-decoration: solid;
position: absolute;
margin-top: -50px;



}


.titulo3 {
    
    height: 50px;
    font-size: 40px;
    margin: 5%;
    margin-top: 15%;
    


}

.descrição_3 {
    margin-left: 45%;
  position: absolute;
  top: 280%;
  font-size: 18px;


}

.descrição_texto3{

font-size: 18px;
color: var(--cinza-secundario);
margin: 5%;
margin-top: 5%;

}
.not {
  
margin: 10%;
margin-top: 15%;
    
}

.quarto-paragrafo {
  
 font-size: 45px;
 margin-top: 5em 0;
 margin-left:25% ;



}

.dispositivos {
display: flex;
justify-content: center;
list-style-type: none;
margin-top: 5%;
margin-left: 15%;

}

.tev {

margin-left: 32%;
}

.pc {

    margin-left: 53%;
    margin-top: -2%;
}

.mobile  {

    margin-left: 77%;
    margin-top: -2%;
}



.aluralogo {
margin-left: 50%;
margin-top: 10em;

}

  
.listinha {
text-align: center;
margin-top: 5em;


   
}

.list {
    color: var(--branco-principal);
    text-decoration: none;
    
}



.texto-final1
{
color: var(--cinza-secundario);
text-align: center;
margin-top: 2em;

}
    .texto-final2 {
        color: var(--cinza-secundario);
        text-align: center;
        margin-top: 3em 0;
    }
    
